.contactList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid white;
}

.button {
  display: block;
  margin-left: 10px;
}
