ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.AppBar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 5px 20px;
}

.navContainer {
  display: flex;
  align-items: center;
  width: 50%;
}

.userMenuContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}
