ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a:visited {
  color: black;
}

.AppBar {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 5px 20px;
}

.navContainer {
  display: flex;
  align-items: center;
  width: 50%;
}

.userMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.avatar {
  margin-right: 5px;
  border-radius: 50%;
}
