ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a,
a:visited {
  color: white;
}

.AppBar {
  position: sticky;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  width: 100%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 5px 20px;
}

.navContainer {
  display: flex;
  align-items: center;
  /* width: 50%; */
}

.userMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.avatar {
  margin-right: 5px;
  border-radius: 50%;
}
